body {
    background-image: url("../img/back.png");
    background-size: cover;
    font-family: 'New Tegomin', serif;
    height: 100vh;
    position: relative;
}
/* INDEX */
.ctnGeneral{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* TITRE */
#titleIndex {
    font-family: 'New Tegomin', serif;
    font-size: 6rem;
    text-align: center;
    text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff,
        1px 1px 20px #141414;
    color: rgb(46, 130, 179);
}
#playCtn{
    padding: 0 25px;
    text-align: center;
    border-radius: 15px;
    background-color: blue;
    
}
#playText:hover{
    color: chocolate;
    
}
#playText{
    font-size: 2.5rem;
    text-decoration: none;
}



/* COMPTEUR DE POINTS */
.countPoints{
    font-family: 'New Tegomin', serif;
    justify-content: space-evenly;
}

/* BLOC DES IMAGES */
.battle{
    justify-content: space-evenly;
}
#imgPC{
    transform: scaleX(-1);
}
/* RESULTAT RAPIDE */
.result{
    font-size: 1.7em;
    font-weight: bold;
    color: white;
}
/* SELECTION UTILISATEUR */
.choice select{
    width: 15rem;
    height: 3rem;
    background-color: rgb(46, 130, 179) ;
    color:white;
    font-size : 1.5rem;
    border-radius: 5px;
}

.choice select:hover{
    background-color: rgb(28, 99, 139) ;
}

/* BOUTON CHIFOUMI */
#launch{
    width: 12rem;
    height: 4rem;
    background-color: teal;
    color: white;
    box-shadow: 10px 10px 10px black;
    border-radius: 15px;
    font-family: 'New Tegomin', serif;
    font-size: 1.5rem;
    font-weight: bold;
    transform: scale(1);
    transition: 0.5s;
}
#launch:hover{
    background-color: rgb(2, 97, 97);
    transform: scale(1.2);
    transition: 0.5s;
}

/* BOUTON RESET */
#reset{
    text-align: center;
    width: 10rem;
    height: 3rem;
    background-color: teal;
    color: white;
    box-shadow: 10px 10px 10px black;
    border-radius: 15px;
    font-family: 'New Tegomin', serif;
    font-size: 1rem;
    font-weight: bold;
    transform: scale(1);
    transition: 0.5s;
}

#reset:hover{
    background-color: rgb(2, 97, 97);
    transform: scale(1.2);
    transition: 0.5s;
}

/* Desactiver les sons */
audio{
    display: none;
}

/* Bouton son */
#sound{
    position: absolute;
    bottom: 0;
    cursor: pointer;
}